body { 
    background: rgba(0, 128, 0, 0.274);
    display: flex;
}

#game {
	width: 1050px;
	height: 600px;
	background: url("https://play-lh.googleusercontent.com/3_L-KeSNkQhcGCI6C5tGybeqSungirp8aLg0pXKT6eOU7sKubC22HAn5iuxhD-wDpzo");
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#game > div { 
    position: absolute; 
}

#barra {
    width: 200px;
    height: 20px;
    top: 580px;
    background: #c50094;
}

#bola {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #ff6600;
	position: absolute;
	left: 0.1px;
	top: 290px;
}
